.editor {
  position: relative;
  width: min-content;

  & > input, & > textarea {
    border: none;
    outline: none;
    text-align: center;
  }

  & > .delete {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
    border: .05rem solid #dc3545;
    border-radius: 20rem;

    &:hover {
      background-color: #dc3545;
      fill: #fff;
    }
  }

  &_h2 {
    font-size: 2rem;
    font-weight: 500;
  }
}